<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.daydaystudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.me.daydaystudy.utils.MyModule"
            android:value="GlideModule" />
        <!-- 屏幕宽度与高度 -->
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".activity.DisCountActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.MyProjectActivity" />
        <activity android:name=".activity.ClassListActivity"></activity>
    </application>

</manifest>